---
import Root from "../layout/root.astro";
interface Props {
    error: unknown
}

const {error} = Astro.props
console.log(500, {error})
---

<Root>
    <div>{error instanceof Error ? error.message : 'Unknown error'}</div>
</Root>
