---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tailwind + Astro!</title>
	</head>
	<body class="grid place-items-center h-screen content-center bg-base-100">
	<h1 class="prose text-base-content">
		tailwind + astro!
	</h1>
	</body>
</html>
