---
import Root from "../layout/root.astro";
import {SeasonService} from "../services/season.service";
import NavLink from "../components/NavLink.astro";
const seasonSvc = new SeasonService(Astro.cookies);
const seasons = await seasonSvc.getSeasons()
---
<Root>
    <main class="flex flex-col gap-8 items-center m-4">
        <header class="w-full">
            <p class="text-3xl text-center font-bold">Seasons</p>
            <p class="italic text-center font-light">Select a season</p>
        </header>
        {seasons.length < 1
            ?
                <p>No seasons yet.</p>
            :
                <ul class="flex flex-col gap-2">
                    {
                        seasons.map(
                            (season) =>
                                    <li>
                                        <NavLink href={season.id} class="link">{season.name}</NavLink>
                                    </li>
                        )
                    }
                </ul>
        }
        <p class="italic"
           hx-swap="outerHTML"
           hx-get="/partials/seasons.new">
            Add season
        </p>
    </main>
</Root>
