---
import type {HTMLAttributes} from "astro/types";
interface Props extends HTMLAttributes<'button'> {
    loaderPosition?: 'pre' | 'post'
}

const {loaderPosition = 'pre', class: givenClasses, ...attrs} = Astro.props
const classes = givenClasses ? `btn ${givenClasses}` : 'btn'
---
<button x-init x-data="{loading: false}" {...attrs} class={classes} @click="loading = true">
    {loaderPosition === 'pre'
    ?   <span x-cloak class="loading loading-spinner loading-xs" x-show="loading"></span>
        <slot />
    :   <slot />
        <span x-cloak class="loading loading-spinner loading-xs" x-show="loading"></span>
    }
</button>
<style>
    [x-cloak] {
        display: none !important;
    }
</style>
