@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .two-input-form-grid {
        grid-template-areas:
            "inputOne inputTwo"
            "btn btn";
        @apply grid grid-rows-[auto_auto] grid-cols-[22%_1fr]
    }
    .two-input-form-grid-input-one {
        grid-area: inputOne;
    }

    .two-input-form-grid-input-two {
        grid-area: inputTwo;
    }

    .two-input-form-grid-btn {
        grid-area: btn;
        @apply flex justify-center items-center
    }
}
